@import "tailwindcss";

@font-face {
  font-family: "machina-neue";
  src: url("../src/assets/fonts/ppneuemachina-plainultrabold.woff2") format("woff2"),
       url("../src/assets/fonts/ppneuemachina-plainultrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: "monserrat-bold";
  src: url(../src/assets/fonts/monserrat-bold.ttf);
}

@font-face {
  font-family: "lato-bold";
  src: url(../src/assets/fonts/lato-bold.ttf);  
}

@theme {
  --color-red-violet: #BB3289;
  --color-martnique: #2C2344;
  --color-prim: #F0DBE7;
  --color-disco: #7B174C;
  --color-razzmatazz: #D00C54;
  --color-dusty-violet: #8174A0;
  --color-lavander: #CEA9C1;
  --custom-shadow: 5px 5px 15px rgba(0,0,0,0.7);

  --font-machina-neue: machina-neue, sans-serif;
  --font-monserrat-bold: monserrat, sans-serif;
  --font-lato-bold: lato, sans-serif;
  
}


@layer utilities {
  .gradient-violet {
    background-image: linear-gradient(to right, #AC4BAB, #AA4CB4, #A454B9);
  }
}


h1 {
  font-size: 3.75rem;
  font-weight: bold;
  font-family: "monserrat-bold"
}

h2, h3 {
  font-size: 3.25rem;
  font-weight: bold;
  font-family: "monserrat-bold"
}

h3 {
  font-size: 2.5rem;
}

p {
  font-family: "lato-bold";
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}